.profileContainer {
    margin-top: 100px;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContainer img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.credentials {
    padding: 100px 0 0 0;
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.credentials * {
    display: flex;
    width: 436px;
}

#UserName {
    font-size: 20px;
}