.roww {
    display: flex;
    gap: 20px;
}

body {
    width: 100%;
}

.home, .away, .equal {
    display: flex;
    justify-content: center;
    align-items: center;
}


.matchOdds {
    width: fit-content;
    margin: 0 auto;
}

.mactchPrimaryResults {
    display: flex;
    width: 442px;
    justify-content: center;
    height: 50px;
    gap: 10px;
}

.mactchPrimaryResults * {
    padding: 0 5px 0 5px;
    width: 100%;
    background-color: black;
    color: white;
}

.teamOdds {
    color: yellow;
    text-align: right;
    margin: 0 auto;
}

.resultName {
    margin: 0 auto;

}

.margin-down-2px {
    margin: 0 0 2px 0;
}